

@model MyDatabase.EF.Category

@{
    ViewBag.Title = "Cập nhật danh mục tin tức";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{ Cập nhật danh mục tin tức}

@section jsFooter{
    <script>
            //$("#btnSelectImage").on("click", function (e) {
            //    e.preventDefault();
            //    var finder = new CKFinder();
            //    finder.selectActionFunction = function (url) {
            //        $("#txtImage").val(url);
            //    };
            //    finder.popup();
            //});

            var editor = CKEDITOR.replace("txtContent", {
                customConfig: "/Design/admin/js/plugins/ckeditor/config.js"
            });
    </script>
}


@using (Html.BeginForm("Update", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            <label class="control-label col-md-2">Tên danh mục</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Tiêu đề alias</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.metaTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.metaTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Tiêu đề SEO</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.seoTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.seoTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Từ khóa</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.metaKeyword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.metaKeyword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Chi tiết</label>
            <div class="col-md-5">
                @Html.TextAreaFor(model => model.metaDecription, new { htmlAttributes = new { @class = "form-control", @style = "height: 100px;" }, id = "txtContent" })
                @Html.ValidationMessageFor(model => model.metaDecription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Danh mục cha</label>
            <div class="col-md-5">
                @Html.DropDownListFor(model => model.parentID, (IEnumerable<SelectListItem>)ViewBag.CategoryID, "--Chọn danh mục--", new { @class = "form-control",  @style = "width: 300px;" })
                @Html.ValidationMessageFor(model => model.parentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Thứ tự</label>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.displayOrder, new { @class = "form-control", @type = "number", @min = "0", @max = "10000", @style = "width: 300px;" })
                @Html.ValidationMessageFor(model => model.displayOrder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-2">Trạng thái</label>
            <div class="col-md-5">
                @Html.CheckBoxFor(model => model.status)
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2"></label>
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </div>
    </div>
}
