@model PagedList.IPagedList<MyDatabase.EF.Content>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{ Danh sách tin tức }

@section jsFooter{
    <script src="~/Design/admin/js/controller/userController.js"></script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="display:inline;">Tin tức</h6>
        <span style="float:right;">@Html.ActionLink("Thêm mới", "Create", "Content")</span>
    </div>
    <div class="card-body">
       @using (Html.BeginForm("Index", "Content", FormMethod.Get, new { @style = "display:inline;" }))
       {
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="dataTable_length">
                    <label>
                        Xem
                        @Html.DropDownList("pageSize", (IEnumerable<SelectListItem>)ViewBag.PageSizes, new { @class = "form-control form-control-sm", @style = "width: 100px; display: inline;" })
                        <input type="submit" value="Xem" />
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div id="dataTable_filter" class="dataTables_filter">
                    <label>
                        <input type="search" value="@ViewBag.Search" name="keyword" class="form-control form-control-sm" placeholder="Tìm kiếm..." aria-controls="dataTable">
                        <input type="submit" value="Tìm" />
                    </label>
                </div>
            </div>
        </div>
       }
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Hình minh họa</th>
                        <th>Người viết bài</th>
                        <th>Ngày đăng</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.id">
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                <img src="@item.imageLocation" style="width:150px; height:120px"/>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.createBy)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.createDate)
                            </td>
                            <td>
                                <a href="#" class="btn-active" data-id="@item.id">@(item.status ? "Kích hoạt" : "Khóa")</a>
                            </td>
                            <td>
                                <a href="@Url.Action("Update", "Content", new { id = item.id })">
                                    <span style="font-size:15px;">Sửa</span>
                                </a> |
                                @Ajax.ActionLink("Xóa", "Delete", new { @id = item.id }, new AjaxOptions
                           {
                               Confirm = "Bạn có chắc muốn xóa tài khoản này?",
                               OnComplete = "$('#row_" + @item.id + "').remove()",
                               HttpMethod = "Delete"
                           })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchText = @ViewBag.Search, pageSize = @ViewBag.PageSize }))
        </div>
    </div>
</div>
