@model OnlineShop.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Design/client/css/bootstrap.min.css" rel="stylesheet" />

<div class="content">
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Đăng nhập</h4>
            <hr />
            <div class="form-group row">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group row">
                <label class = "control-label col-md-2" >Tên đăng nhập</label>
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.userName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-2">Mật khẩu</label>
                <div class="col-md-5">
                    @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-2"></label>
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                    <hr />
                    <a href="/User/LoginFacebook" class="btn btn-primary btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Đăng nhập bằng Facebook
                    </a>
                </div>
            </div>
        </div>
    }
</div>

