
@model MyDatabase.EF.Product
@{
    ViewBag.Title = Model.name;
    ViewBag.Keywords = Model.metaKeyword;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (MyDatabase.EF.ProductsCategory)ViewBag.Category;
    var related = (List<MyDatabase.EF.Product>)ViewBag.Related;
}

<div class="content">
    <div class="content_top">
        <div class="back-links">
            <p><a href="/">Trang chủ</a> >> <a href="/san-pham/@category.metaTitle-@category.id">@category.name</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <a href="#" target="_blank"><img src="@Model.imageLocation" alt="Sản phẩm" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.name</h2>
                    <p>@Model.descriptions</p>
                    <div class="price">
                        <p>Giá: <span>@(Model.price > 0 ? Model.price.Value.ToString("N0")+" VNĐ" : "Liên hệ")</span></p>
                    </div>
                    <div class="share-desc">
                        <div class="share">
                            <p>Chia sẻ :</p>
                            <ul>
                                <li><a href="#"><img src="~/Design/client/images/facebook.png" alt="" /></a></li>
                                <li><a href="#"><img src="~/Design/client/images/twitter.png" alt="" /></a></li>
                            </ul>
                        </div>
                        <div class="button"><span><a href="/them-vao-gio?productID=@Model.id&quantity=1">Thêm vào giỏ</a></span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="wish-list">
                        <ul>
                            <li class="wish"><a href="#">Thêm vào yêu thích</a></li>
                            <li class="compare"><a href="#">So sánh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li>Chi tiết</li>
                        <li>Đánh giá</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container">
                        <div class="product-desc">
                            @Html.Raw(Model.detail)
                        </div>
                        <div class="review">
                            <h4>Được đánh giá bởi <a href="#">Finibus Bonorum</a></h4>
                            <ul>
                                <li>Giá sản phẩm :<a href="#"><img src="~/Design/client/images/price-rating.png" alt="" /></a></li>
                                <li>Chất lượng :<a href="#"><img src="~/Design/client/images/quality-rating.png" alt="" /></a></li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <div class="your-review">
                                <h3>How Do You Rate This Product?</h3>
                                <p>Write Your Own Review?</p>
                                <form>
                                    <div>
                                        <span><label>Nickname<span class="red">*</span></label></span>
                                        <span><input type="text" value=""></span>
                                    </div>
                                    <div>
                                        <span><label>Summary of Your Review<span class="red">*</span></label></span>
                                        <span><input type="text" value=""></span>
                                    </div>
                                    <div>
                                        <span><label>Review<span class="red">*</span></label></span>
                                        <span><textarea> </textarea></span>
                                    </div>
                                    <div>
                                        <span><input type="submit" value="SUBMIT REVIEW"></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true   // 100% fit in a container
                    });
                });
            </script>
            <div class="content_bottom">
                <div class="heading">
                    <h3>Sản phẩm liên quan</h3>
                </div>
                <div class="see">
                    <p><a href="/san-pham">Xem tất cả</a></p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="section group">
                @foreach (var item in related)
                 {
                    var url = "/chi-tiet/" + item.metaTitle + "-" + item.id;
                    <div class="grid_1_of_4 images_1_of_4">
                        <a href="@url"><img src="@item.imageLocation" title="@item.name" alt="@item.name"></a>
                        <div class="price" style="border:none">
                            <div class="add-cart" style="float:none">
                                <h4><a href="@url">Thêm vào giỏ</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="rightsidebar span_3_of_1">
            @{ Html.RenderAction("ProductCategory", "Product"); }
            <div class="subscribe">
                <h2>Newsletters Signup</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.......</p>
                <div class="signup">
                    <form>
                        <input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'E-mail address'; }"><input type="submit" value="Sign up">
                    </form>
                </div>
            </div>
            <div class="community-poll">
                <h2>Community POll</h2>
                <p>What is the main reason for you to purchase products online?</p>
                <div class="poll">
                    <form>
                        <ul>
                            <li>
                                <input type="radio" name="vote" class="radio" value="1">
                                <span class="label"><label>More convenient shipping and delivery </label></span>
                            </li>
                            <li>
                                <input type="radio" name="vote" class="radio" value="2">
                                <span class="label"><label for="vote_2">Lower price</label></span>
                            </li>
                            <li>
                                <input type="radio" name="vote" class="radio" value="3">
                                <span class="label"><label for="vote_3">Bigger choice</label></span>
                            </li>
                            <li>
                                <input type="radio" name="vote" class="radio" value="5">
                                <span class="label"><label for="vote_5">Payments security </label></span>
                            </li>
                            <li>
                                <input type="radio" name="vote" class="radio" value="6">
                                <span class="label"><label for="vote_6">30-day Money Back Guarantee </label></span>
                            </li>
                            <li>
                                <input type="radio" name="vote" class="radio" value="7">
                                <span class="label"><label for="vote_7">Other.</label></span>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#products').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            effect: 'slide, fade',
            crossfade: true,
            slideSpeed: 350,
            fadeSpeed: 500,
            generateNextPrev: true,
            generatePagination: false
        });
    });

    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }

    $(function () {

        var dd = new DropDown($('#dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-2').removeClass('active');
        });

    });

</script>